@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "sass:color";
@use "sass:map";
.accordion {
  font-family: map.get(v.$fonts, heading);
  &__item {
    overflow: hidden;
    border-top: 1px solid f.get-color(umber, 0.4);
  }

  &__header {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    font-family: map.get(v.$fonts, heading);
    display: flex;
    justify-content: space-between;
  }

  &__panel {
    padding: 20px;
    @include v.responsive-font(0.8rem);
    color: f.get-color(white, 0.2);
    font-weight: 100;
    letter-spacing: 0.05rem;

    @include m.respond(sm) {
      padding: 20px 40px;
    }
    h3 {
      color: f.get-color(white, 0.2);
      @include v.responsive-font(1.2rem);
      font-weight: 600;
      letter-spacing: 0.3rem;
      margin-block: clamp(0.5rem, 2vw, 1rem);
    }
    h4 {
      color: f.get-color(white, 0.4);
      @include v.responsive-font(1rem);
      font-weight: 400;
      letter-spacing: 0.1rem;
      margin-block: clamp(0.5rem, 2vw, 1rem);
    }
    strong {
      color: f.get-color(white, 0.2);
      font-weight: 400;
      letter-spacing: 0.1rem;
      margin-block: clamp(0.5rem, 2vw, 1rem);
    }

    ul,
    ol {
      list-style-type: "-     ";
      margin-block: clamp(0.5rem, 2vw, 1rem);
    }
  }
}

.accordion__link {
  color: f.get-color(white, 0.4);
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-bottom: 1px dashed f.get-color(umber, 0.4);

  &:hover {
    color: f.get-color(umber, 0.4);
  }
}