@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "sass:map";
.contact {
  &__content {
    z-index: 9;
    margin-top: -10rem;
    @include m.respond(md) {
      margin-top: 0;
    }
  }
}
