@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "sass:map";
.contact {
  background-color: f.get-color(white, 0.1);
  padding-block-start: 8rem;
  padding-block-end: 5rem;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__header {
    text-align: center;
    color: f.get-color(umber, 0);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: map.get(v.$spacing, large);
    text-align: center;

    @include m.respond(sm) {
      max-width: map.get(v.$breakpoints, small);
      text-align: left;
      justify-content: space-evenly;
      padding-block: map.get(v.$spacing, large);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: map.get(v.$spacing, large);

    @include m.respond(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
