@use "sass:map";
@use "../abstracts/variables" as v;
.cookie-consent {
  position: fixed;
  bottom: 0;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  margin: 2rem;
  z-index: 8;
  border: 1px solid map.get(v.$colors, umber);
  &__buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
