@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";
.footer {
  border-top: 1px solid  map.get(v.$colors, dark-gray);;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  color: map.get(v.$colors, sand);
  padding: 4rem 3rem;

  @include m.respond(md) {
    flex-direction: row;
    padding: 4rem 15rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
  }
}

.footer-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  * {
    font-weight: 300;
    margin-bottom: .3rem;
  }

  a {
    text-transform: uppercase;
    text-decoration: underline;

    width: max-content;

    &:hover {
      color: map.get(v.$colors, umber) !important;
    }
  }

  &-row {
    flex-direction: row;
    gap:.7rem;
  }
}

.social-link {
  width: 1.5rem;
  height: 1.5rem;
}