@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "sass:map";
.nav {
  padding-block: map.get(v.$spacing, medium);
  padding-inline: map.get(v.$spacing, large);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include m.respond(sm) {
    text-align: left;
  }
  @include m.respond(md) {
    padding-inline: map.get(v.$spacing, xlarge);
  }

  .logo {
    // color: inherit;
    text-transform: uppercase;
    font-size: map.get(v.$font-sizes, large);
    font-family: map.get(v.$fonts, decorative);
  }

  &__links,
  .social-links {
    display: none;
    list-style: none;

    @include m.respond(md) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: map.get(v.$spacing, medium);
    }
    @include m.respond(md) {
      gap: map.get(v.$spacing, large);
    }
  }
  &__link {
    font-family: map.get(v.$fonts, heading);
    // text-transform: uppercase;
    position: relative;
    font-size: 0.8rem;
    transition: color 0.3s;
    @include m.respond(sm) {
      align-self: flex-start;
    }
    a {
      transition: all 0.3s;
      color: inherit;
      &:hover {
        color: f.get-color(umber, 0);
      }
      &:active {
        color: inherit;
      }
    }

    &__active-indicator,
    &__active-indicator--mobile {
      position: absolute;
      display: block;
      height: 0.02rem;
      position: absolute;
      bottom: 10%;
      margin-inline: auto;
      width: 100%;
    }
    &__active-indicator--mobile {
      background-color: map.get(v.$colors, white);
    }
  }
  &__mobile-toggle {
    display: block;
    z-index: 4;

    @include m.respond(md) {
      display: none;
    }

    &__line {
      width: 30px;
      height: 2px;
      transition: background-color 0.4s;
      margin: 5px;
      background-color: map.get(v.$colors, white);
    }
  }

  .mobile-menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: map.get(v.$colors, moss);
    z-index: 4;
    padding: map.get(v.$spacing, large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: map.get(v.$spacing, medium);
    color: #fff;
    transform-origin: top right;
    overflow: hidden;

    @include m.respond(md) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: map.get(v.$spacing, medium);
      z-index: 4;
    }
  }
}
