@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

.hero__wrapper {
  min-height: 65rem;
  background-color: map.get(v.$colors, sand);
  display: flex;
  flex-direction: column;

  @include m.respond(xl) {
    min-height: 100vh;
    height: 100vh;
    flex-direction: row;
  }
}

// LEFT SIDE
.hero__left {
  flex: 0.3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  @include m.respond(xl) {
    flex: 1;
  }

  &-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    h1,
    p {
      color: map.get(v.$colors, moss);
    }

    h1 {
      font-family: map.get(v.$fonts, decorative);
      font-weight: 400;
      font-size: clamp(3rem, 5vw, 7rem);
      letter-spacing: 1rem;
      @include m.respond(xl) {
        font-size: clamp(3rem, 5vw, 8rem);
      }
    }

    a {
      margin-top: 2rem;
    }
    p {
      display: inline;

      letter-spacing: 0.2rem;
      border-bottom: 1px dashed map.get(v.$colors, moss);
      font-size: clamp(0.8rem, 5vw, 1rem);
      @include m.respond(xl) {
        font-size: clamp(1rem, 5vw, 1.2rem);
      }
    }
  }

  &-button {
    margin-top: 4rem;

    @include m.respond(xl) {
      margin-left: 3rem;
      align-self: flex-start;
      position: absolute;
      bottom: 5rem;
    }
  }
}

// RIGHT SIDE
.hero__right {
  position: relative;
  flex: 1;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  @include m.respond(xl) {
    overflow: auto;
  }
}
