@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";
.miniHero__wrapper {
  background-color: map.get(v.$colors, sand);
  padding-inline: map.get(v.$spacing, medium);

  position: relative;
  height: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    filter: brightness(0.7);
  }
  h1,
  h2 {
    z-index: 1;
    @include v.responsive-font(4rem);
  }

  p {
    z-index: 1;
    font-weight: 400;
    letter-spacing: 0.2rem;
    @include v.responsive-font(1rem);
  }
}
