@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";
.miniHero__wrapper {
  background-color: map.get(v.$colors, sand);

  position: relative;
  height: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    z-index: 1;
    @include v.responsive-font(5rem);
  }

  p {
    z-index: 1;
    @include v.responsive-font(1.2rem);
  }
}
