@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "sass:map";

.column {
  &__section {
    background-color: map.get(v.$colors, sand);
    position: relative;
    display: flex;
    flex-direction: column;

    @include m.respond(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image {
    background-color: map.get(v.$colors, dark-gray);
    filter: brightness(0.8);
    object-fit: cover;

    &-wrapper {
      position: relative;
      height: 420px;

      @include m.respond(md) {
        position: sticky;
        top: 0;
        right: 0;
        order: 1;
        height: 100vh;
      }

      &-reverse {
        @include m.respond(md) {
          order: 0;
        }
      }
    }
  }

  &__header {
    margin-block: 6rem;

    margin-left: 0;
    max-width: 50rem;

    @include m.respond(md) {
      margin-left: auto;
      text-align: right;
    }

    &--left {
      @include m.respond(md) {
        margin-left: initial;
        margin-right: auto;
        text-align: left;
      }
    }
  }

  &__subtitle {
    font-weight: 300;
    margin-bottom: 2rem;
  }

  &__text {
    font-weight: 300;
    letter-spacing: 0.05rem;
    a {
      font-weight: 400;
      color: f.get-color(umber, 0.2);
      border-bottom: 1px dashed f.get-color(umber, 0.4);
      transition: color 0.15s ease-in-out;

      &:hover {
        color: map.get(v.$colors, umber);
      }
    }
  }

  &__link {
    color: map.get(v.$colors, moss);
    border-bottom: 1px dashed f.get-color(umber, 0.4);

    &:hover {
      color: map.get(v.$colors, umber);
    }
  }

  &__content {
    padding-inline: 2rem;

    @include m.respond(sm) {
      padding-inline: 3rem;
    }

    @include m.respond(md) {
      padding-inline: 4rem;
    }
  }
}
