@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "sass:map";
.faq {
  mix-blend-mode: luminosity;
  background-color: map.get(v.$colors, moss);
  color: map.get(v.$colors, white);
  padding-block-start: 10rem;
  padding-block-end: 4rem;
  height: 100%;

  h2 {
    text-align: center;
    margin-bottom: clamp(2rem, 5vw, 6rem);
    font-size: clamp(2rem, 5vw, 3rem);
  }
}
