@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "sass:map";
.our-story {
  &__about {
    color: f.get-color(white, 0.4);
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}
