@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "sass:map";
.vacancy {
  background-color: map.get(v.$colors, sand);
  color: map.get(v.$colors, moss);
  padding-block-start: 10rem;
  padding-block-end: 4rem;
  height: 100%;

  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    margin-bottom: clamp(2rem, 5vw, 6rem);
  }

  .accordion__panel {
    a {
      color: f.get-color(umber, 0.4);
      font-weight: 600;
      letter-spacing: 0.1rem;
      border-bottom: 1px dashed f.get-color(umber, 0.4);

      &:hover {
        color: f.get-color(umber, 0.4);
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    strong,
    li,
    ul,
    ol {
      color: f.get-color(dark-gray, 0.2) !important;
    }
    p,
    ul,
    ol {
      font-weight: 300;
      letter-spacing: 0.1rem;
    }
  }
}
