@use "../abstracts/reset";
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as f;
@use "sass:map";
body {
  font-family: map.get($fonts, body), Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: map.get($colors, dark-gray);
  background-color: map.get($colors, moss);
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
}

h1 {
  font-family: map.get($fonts, heading);
  font-weight: 400;
  @include responsive-font(4rem);
}

h2 {
  @include responsive-font(1.5rem);
  font-weight: 300;
}

p {
  margin-bottom: map.get($spacing, medium);
}

a {
  color: map.get($colors, white);
  text-decoration: none;
}
input,
textarea,
select {
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-family: inherit;
  font-size: 1rem;
  padding: map.get($spacing, small);
  border: none;
  width: 100%;
  border: 1px solid f.get-color(dark-gray, 0.8);
  border-radius: map.get($radius, small);

  &:focus {
    outline: none;
    border-color: map.get($colors, umber);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
