@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:color";
.btn {
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  font-weight: 400;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }
  &:active {
    transform: translateY(2px);
  }

  &__primary {
    color: map-get(v.$colors, black);
    border-radius: map-get(v.$radius, small);
    border: 2px solid map-get(v.$colors, black);
    position: relative;
    overflow: hidden;
    z-index: 2;

    @include m.respond(sm) {
      width: auto;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      inset: 0;
      transform: translateX(-100%);
      transition: transform 0.3s;
      background-color: map-get(v.$colors, black);
    }

    &:hover {
      color: map-get(v.$colors, white);
      &:before {
        transform: translateX(0);
      }
    }
    &:focus {
      color: map-get(v.$colors, white);
      &:before {
        transform: translateX(0);
        opacity: 0.9;
        outline: 2px solid map-get(v.$colors, umber);
        outline-offset: -2px;
      }
    }
  }

  &__secondary {
    color: map-get(v.$colors, umber);
    border-radius: map-get(v.$radius, small);
    border: 2px solid map-get(v.$colors, umber);
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 2;

    @include m.respond(sm) {
      width: auto;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.3s;
      background-color: map-get(v.$colors, umber);
    }

    &:hover {
      color: map-get(v.$colors, white);
      &:before {
        transform: translateX(0);
      }
    }
    &:focus {
      color: map-get(v.$colors, white);
      &:before {
        transform: translateX(0);
        opacity: 0.9;
        outline: 2px solid map-get(v.$colors, umber);
        outline-offset: -2px;
      }
    }
  }
}
