@use "../abstracts/_variables.scss" as v;

.social-links {
  display: flex;
  gap: map-get(v.$spacing, small);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map-get(v.$colors, moss);
  color: map-get(v.$colors, light-gray);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s;
  text-decoration: none;

  svg {
    z-index: 2;
    width: 30px;
    height: 30px;
  }

  &--fb {
    &:hover {
      color: #3b5998;
      background-color: map-get(v.$colors, light-gray);
    }
  }
  &--instagram {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background: linear-gradient(
        45deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d
      );
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 50%;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}
