@use "../abstracts/variables" as var;
@use "sass:map";
//mobile first approach

@mixin respond($breakpoint) {
  $breakpoints: (
    sm: small,
    md: medium,
    lg: large,
    xl: xlarge,
    xxl: xxlarge,
  );
  $breakpoint-key: map.get($breakpoints, $breakpoint);
  $breakpoint-value: if(
    $breakpoint-key,
    map.get(var.$breakpoints, $breakpoint-key),
    null
  );

  @if $breakpoint-value {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in var.$breakpoints.";
  }
}

@mixin content-margin {
  & {
    max-width: 24rem;
    margin-inline: auto;
    padding-inline: map.get(var.$spacing, medium);
  }
  @include respond(sm) {
    max-width: map.get(var.$breakpoints, small);
  }

  @include respond(md) {
    max-width: map.get(var.$breakpoints, medium);
  }

  @include respond(lg) {
    max-width: map.get(var.$breakpoints, large);
  }

  @include respond(xl) {
    max-width: map.get(var.$breakpoints, xlarge);
  }
}
