/* _variables.scss */
@use "sass:map";
// Font Definitions
$fonts: (
  heading: var(--font-orpheous),
  // Font for headings
  body: var(--font-lato),
  // Default font for body text
);

//Font Sizes
$font-sizes: (
  xsmall: clamp(0.75rem, 1.5vw, 0.875rem),
  // Small font size
  small: clamp(0.875rem, 1.5vw, 1rem),
  medium: clamp(1rem, 1.5vw, 1.25rem),
  // Medium font size
  large: clamp(1.25rem, 1.5vw, 1.5rem),
  // Large font size
  xlarge: clamp(1.5rem, 2.5vw, 2.2rem),
  // Extra large font size
);

// Color Definitions
$colors: (
  black: rgba(6, 5, 7, 1),
  moss: rgba(64, 70, 61, 1),
  umber: rgba(132, 128, 115, 1),
  coffee: rgba(99, 76, 58, 1),
  dark-gray: rgba(89, 90, 89, 1),
  light-gray: rgba(202, 209, 215, 1),
  ecru: rgba(192, 172, 114, 1),
  sand: rgba(238, 233, 221, 1),
  silver: rgba(178, 178, 178, 1),
  white: rgba(255, 255, 255, 1),
  error: rgba(255, 51, 51, 1),
  success: rgba(25, 135, 84, 1),
);

// Spacing Definitions
$spacing: (
  none: 0,
  xsmall: 0.25rem,
  // No spacing
  small: 0.5rem,
  // Small spacing
  medium: 1rem,
  // Medium spacing
  large: 2rem,
  // Large spacing
  xlarge: 6rem,
  // Extra large spacing
  xxlarge: 12rem,
);

// Border Radius Definitions
$radius: (
  small: 0.25rem,
  // Small radius
  medium: 0.5rem,
  // Medium radius
  large: 1rem,
  // Large radius
  pill: 50rem,
  // Pill-shaped radius
);

// Shadow Definitions
$shadows: (
  light: 0 2px 10px rgba(0, 0, 0, 0.1),
  // Light shadow
  medium: 0 4px 15px rgba(0, 0, 0, 0.2),
  // Medium shadow
  heavy: 0 8px 25px rgba(0, 0, 0, 0.3),
  // Heavy shadow
);

// Breakpoint Definitions
$breakpoints: (
  small: 576px,
  // Small devices (phones)
  medium: 768px,
  // Medium devices (tablets)
  large: 992px,
  // Large devices (desktops)
  xlarge: 1200px,
  // Extra large devices (large desktops)
);

// Mixin for Responsive Font Sizes
@mixin responsive-font($size) {
  font-size: $size;

  @media (min-width: map.get($breakpoints, medium)) {
    font-size: $size * 1.1;
    // Increase font size for medium devices
  }

  @media (min-width: map.get($breakpoints, large)) {
    font-size: $size * 1.2; // Further increase font size for large devices
  }
}

// Mixin for Responsive bottom margin
@mixin content-margin {
  margin: map.get($spacing, large) 0;

  @media (min-width: map.get($breakpoints, medium)) {
    margin: map.get($spacing, xlarge) 0; // Increase margin for medium devices
  }
}
