@use "../abstracts/reset";
@use "../abstracts/variables" as *;

body {
  font-family: map-get($fonts, body), Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: map-get($colors, dark-gray);
  background-color: map-get($colors, moss);
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: map-get($fonts, heading);
}

h1 {
  @include responsive-font(2rem);
}

h2 {
  @include responsive-font(1.5rem);
}

p {
  margin-bottom: map-get($spacing, medium);
}

a {
  color: map-get($colors, white);
  text-decoration: none;
}

// Example of using shadow
.card {
  background-color: #fff;
  border: 1px solid map-get($colors, border);
  box-shadow: map-get($shadows, light);
  border-radius: map-get($radius, medium);
  padding: map-get($spacing, large);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
